@import url("http://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin,cyrillic")

.controls-skin_1
  height 37px
  padding 0

  .controls

    &__elements
      height 28px
      padding 7px
      background -moz-linear-gradient(top, rgba(65,65,65,0.91) 0%, rgba(34,34,34,0.9) 4%, rgba(31,31,31,0.9) 16%, rgba(7,7,7,0.89) 72%, rgba(2,2,2,0.88) 100%)
      background -webkit-linear-gradient(top, rgba(65,65,65,0.91) 0%,rgba(34,34,34,0.9) 4%,rgba(31,31,31,0.9) 16%,rgba(7,7,7,0.89) 72%,rgba(2,2,2,0.88) 100%)
      background linear-gradient(to bottom, rgba(65,65,65,0.91) 0%,rgba(34,34,34,0.9) 4%,rgba(31,31,31,0.9) 16%,rgba(7,7,7,0.89) 72%,rgba(2,2,2,0.88) 100%)

    &__item
      display inline-block
      vertical-align top

    &__play
      width 20px
      height 16px
      border-radius 0
      text-indent -9999px
      background url(../img/skin_1/play.png) no-repeat 0 0
      cursor pointer

      &:hover, &:active
        background-position 0 0

      &_paused
        background-position 0 -16px

        &:hover, &:active
          background-position 0 -16px

    &__mute
      display inline-block
      width 22px
      height 16px
      background url(../img/skin_1/mute.png) no-repeat 0 0
      vertical-align top
      text-indent -9999px
      cursor pointer

      &:hover, &:active
        background-position 1px 0

      &_on
        background-position 0 -16px

        &:hover, &:active
          background-position 0 -16px

    &__volume
      position relative
      width 80px
      height 14px
      margin-top 3px
      outline none
      border-radius 3px
      cursor pointer
      background none
      -webkit-appearance none

      &::-webkit-slider-container
        width 80px
        height 6px
        border-radius 3px
        border 0
        background url(../img/skin_1/volume-track.png) repeat-x 0 0

      &::-webkit-slider-runnable-track
        width 50%
        height 6px
        position relative
        top 1px
        border-radius 3px
        background #e74c3c
        -webkit-user-modify read-write !important

      &::-webkit-slider-thumb
        position relative
        top -4px
        width 5px
        height 14px
        border-radius 0
        background url(../img/skin_1/volume-handler.png) no-repeat 0 0
        -webkit-appearance none

    &__progress
      display block
      width 100%
      height 8px
      margin-bottom 7px
      border 0
      vertical-align top
      cursor pointer

      &::-webkit-progress-inner-element
        background #252525

      &::-webkit-progress-bar
        background url(../img/skin_1/progress.png) repeat-x 0 0

      &::-webkit-progress-value
        background url(../img/skin_1/progress-value.png) repeat-x 0 0

    &__time
      color #8c8c8c
      font-weight 300
      font-size 11px
      line-height 15px

    &__fullscreen
      position absolute
      right 0
      bottom 0
      width 34px
      height 28px
      background url(../img/skin_1/fullscreen.png) no-repeat 0 0
      cursor pointer
