.controls-skin_8
  padding 0
  background #1b1b1b

  .controls

    &__elements
      padding 0 5px
      height 28px

    &__item
      display inline-block
      vertical-align top

    &__play
      width 27px
      height 27px
      border-radius 0
      text-indent -9999px
      background url(../img/skin_8/play.png) no-repeat 0 0
      cursor pointer

      &:hover, &:active
        background-position 0 0

      &_paused
        background-position 0 -27px

        &:hover, &:active
          background-position 0 -27px

    &__audio-block
      padding 0 5px
      width 156px
      height 28px

    &__mute
      display inline-block
      float left
      width 27px
      height 27px
      background url(../img/skin_8/mute.png) no-repeat 0 0
      vertical-align top
      text-indent -9999px
      cursor pointer

      &:hover, &:active
        background-position 0 0

      &_on
        background-position 0 -27px

        &:hover, &:active
          background-position 0 -27px

    &__range-wrapper
      display inline-block
      padding 0 7px
      width 106px
      height 27px
      background none
      vertical-align top

    &__volume
      position relative
      width 80px
      height 4px
      outline none
      border-radius 0
      background #444444
      cursor pointer
      -webkit-appearance none

      &::-webkit-slider-container
        width 80px
        height 4px
        border none
        border-radius 0
        background #444444

      &::-webkit-slider-runnable-track
        width 50%
        height 4px
        border-radius 0
        background #bdc3c7
        -webkit-user-modify read-write !important

      &::-webkit-slider-thumb
        position relative
        top -4px
        width 4px
        height 12px
        border-radius 0
        background #cc181e
        -webkit-appearance none

    &__progress
      display block
      width 100%
      height 7px
      border 0
      vertical-align top
      cursor pointer

      &::-webkit-progress-inner-elemen
        background #444444

      &::-webkit-progress-bar
        background #777777

      &::-webkit-progress-value
        background #cc181e

    &__time
      color #eaeaea
      font-weight normal
      font-size 11px
      line-height 27px

    &__time-overall
      color #757575

    &__fullscreen
      float right
      width 27px
      height 27px
      background url(../img/skin_8/fullscreen.png) no-repeat 0 0
      cursor pointer

      &:hover, &:active
        background-position 0 0