.controls-skin_6
  padding 0
  width 500px
  height 50px
  background url(../img/skin_6/bg.png) repeat-x 0 0
  background -moz-linear-gradient(top, rgba(99,103,110,0.9) 0%, rgba(65,69,78,0.88) 2%, rgba(54,61,69,0.88) 26%, rgba(49,52,58,0.88) 49%, rgba(33,36,45,0.88) 51%, rgba(30,36,42,0.88) 53%, rgba(21,24,29,0.87) 87%, rgba(16,22,28,0.87) 94%, rgba(17,20,25,0.87) 100%)
  background -webkit-linear-gradient(top, rgba(99,103,110,0.9) 0%,rgba(65,69,78,0.88) 2%,rgba(54,61,69,0.88) 26%,rgba(49,52,58,0.88) 49%,rgba(33,36,45,0.88) 51%,rgba(30,36,42,0.88) 53%,rgba(21,24,29,0.87) 87%,rgba(16,22,28,0.87) 94%,rgba(17,20,25,0.87) 100%)
  background linear-gradient(to bottom, rgba(99,103,110,0.9) 0%,rgba(65,69,78,0.88) 2%,rgba(54,61,69,0.88) 26%,rgba(49,52,58,0.88) 49%,rgba(33,36,45,0.88) 51%,rgba(30,36,42,0.88) 53%,rgba(21,24,29,0.87) 87%,rgba(16,22,28,0.87) 94%,rgba(17,20,25,0.87) 100%)
  border 1px solid #000

  .controls

    &__item
      display inline-block
      vertical-align top

    &__play
      width 48px
      height 48px
      border-radius 0
      text-indent -9999px
      background url(../img/skin_6/play.png) no-repeat 0 0
      cursor pointer

      &:hover, &:active
        background-position 0 0

      &_paused
        background-position 0 -48px

        &:hover, &:active
          background-position 0 -48px

    &__mute
      display inline-block
      margin 16px 10px 0 0
      width 20px
      height 14px
      background url(../img/skin_6/mute.png) no-repeat 0 0
      vertical-align top
      text-indent -9999px
      cursor pointer

      &:hover, &:active
        background-position 0 0

      &_on
        background-position 0 -14px

        &:hover, &:active
          background-position 0 -14px

    &__progress
      display inline-block
      margin 18px 10px 0 0
      width 270px
      height 11px
      border 1px solid #000
      vertical-align top
      cursor pointer
      border-radius 3px
      overflow hidden

      &::-webkit-progress-inner-element
        background url(../img/skin_6/progress-inner.png) repeat-x 0 0

      &::-webkit-progress-bar
        background url(../img/skin_6/progress-seek.png) repeat-x 0 0

      &::-webkit-progress-value
        background url(../img/skin_6/progress-value.png) repeat-x 0 0

    &__time
      color #fff
      font normal 12px Arial
      line-height 48px

    &__fullscreen
      float right
      width 40px
      height 48px
      background url(../img/skin_6/fullscreen.png) no-repeat center
      cursor pointer

      &:hover, &:active
        background-position center