.video
  display inline-block
  margin 0 50px 50px 0
  vertical-align top

  &__title
    margin 0
    color #fff
    text-align center
    font-weight bold
    font-size 16px
    line-height 1.5
    background #0a0a0a

  video
    display block
    position relative
    background #0a0a0a
    width 100%