/* Fonts */
@import "_fonts.styl"

/* Globals */
@import "_globals.styl"

/* Page */
@import "_page.styl"

/* Video */
@import "_video.styl"

/* Controls */
@import "_controls.styl"

/* Controls */
@import "_controls-skin_1.styl"

/* Controls */
@import "_controls-skin_2.styl"

/* Controls */
@import "_controls-skin_3.styl"

/* Controls */
@import "_controls-skin_4.styl"

/* Controls */
@import "_controls-skin_5.styl"

/* Controls */
@import "_controls-skin_6.styl"

/* Controls */
@import "_controls-skin_7.styl"

/* Controls */
@import "_controls-skin_8.styl"

/* Controls */
@import "_controls-skin_9.styl"