/* Globals */
@import "_globals.styl"

/* Page */
@import "_page.styl"

/* Video */
@import "_video.styl"

/* Controls Default skin */
@import "_controls.styl"

/* Controls Skin 1 */
@import "_controls-skin_1.styl"

/* Controls Skin 2 */
@import "_controls-skin_2.styl"

/* Controls Skin 3 */
@import "_controls-skin_3.styl"

/* Controls Skin 4 */
@import "_controls-skin_4.styl"

/* Controls Skin 5 */
@import "_controls-skin_5.styl"

/* Controls Skin 6 */
@import "_controls-skin_6.styl"

/* Controls Skin 7 */
@import "_controls-skin_7.styl"

/* Controls Skin 8 */
@import "_controls-skin_8.styl"