/* Globals */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Page */
html,
body {
  height: 100%;
  font: normal 16px "PT Sans";
}
body {
  padding: 20px;
  background: #2c3e50;
}
.page__title {
  display: inline-block;
  margin: 0 0 10px;
  margin-right: 20px;
  color: #e67e22;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
}
.page__link {
  color: #f1c40f;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 1.125em;
  -moz-transition: text-shadow ease 0.5s;
  transition: text-shadow ease 0.5s;
}
.page__link:hover {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}
/* Video */
.video {
  display: inline-block;
  margin: 0 50px 50px 0;
  vertical-align: top;
}
.video__title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  background: #0a0a0a;
}
.video video {
  display: block;
  position: relative;
  background: #0a0a0a;
  width: 100%;
}
/* Controls Default skin */
.controls {
  position: relative;
  padding: 5px;
  width: 460px;
  background: #0a0a0a;
  overflow: hidden;
}
.controls__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.controls__play {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  text-indent: -9999px;
  background: url("../img/default/play.png") no-repeat -3px -2px;
  cursor: pointer;
}
.controls__play:hover {
  background-position: -3px -47px;
}
.controls__play:active {
  background-position: -3px -93px;
}
.controls__play_paused {
  background-position: -53px -2px;
}
.controls__play_paused:hover {
  background-position: -53px -47px;
}
.controls__play_paused:active {
  background-position: -53px -93px;
}
.controls__mute {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/default/mute.png") no-repeat 0 0;
  vertical-align: top;
  border-radius: 2px;
  text-indent: -9999px;
  cursor: pointer;
}
.controls__mute:hover {
  background-position: 0 -40px;
}
.controls__mute:active {
  background-position: 0 -80px;
}
.controls__mute_on {
  background-position: -40px -40px;
}
.controls__mute_on:hover {
  background-position: -40px -40px;
}
.controls__mute_on:active {
  background-position: -40px -80px;
}
.controls__volume {
  position: relative;
  width: 80px;
  height: 8px;
  margin-top: 15px;
  outline: none;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
.controls__volume::-webkit-slider-container {
  width: 80px;
  height: 8px;
  border: 1px solid #373737;
  border-radius: 4px;
  background: transparent;
}
.controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 7px;
  border-radius: 3px;
  background: url("../img/default/volume-value.png") repeat-x 0 0;
  -webkit-user-modify: read-write !important;
}
.controls__volume::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 16px;
  height: 18px;
  border-radius: 50%;
  background: url("../img/default/volume-handler.png") no-repeat -1px 0;
  -webkit-appearance: none;
}
.controls__progress {
  display: block;
  width: 100%;
  height: 5px;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}
.controls__progress::-webkit-progress-inner-element {
  background: #252525;
}
.controls__progress::-webkit-progress-bar {
  background: #373737;
}
.controls__progress::-webkit-progress-value {
  background: #db5207;
}
.controls__time {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  margin-right: 4px;
}
.controls__fullscreen {
  float: right;
  width: 42px;
  height: 40px;
  background: url("../img/default/fullscreen.png") no-repeat -2px -2px;
  cursor: pointer;
  margin: 0;
}
.controls__fullscreen:hover {
  background-position: -2px -52px;
}
.controls__fullscreen:active {
  background-position: -2px -102px;
}
.controls.controls-default .controls__progress {
  margin-bottom: 5px;
}
/* Controls Skin 1 */
.controls-skin_1 {
  height: 37px;
  padding: 0;
}
.controls-skin_1 .controls__elements {
  height: 28px;
  padding: 7px;
  background: -moz-linear-gradient(top, rgba(65,65,65,0.91) 0%, rgba(34,34,34,0.9) 4%, rgba(31,31,31,0.9) 16%, rgba(7,7,7,0.89) 72%, rgba(2,2,2,0.88) 100%);
  background: -webkit-linear-gradient(top, rgba(65,65,65,0.91) 0%, rgba(34,34,34,0.9) 4%, rgba(31,31,31,0.9) 16%, rgba(7,7,7,0.89) 72%, rgba(2,2,2,0.88) 100%);
  background: linear-gradient(to bottom, rgba(65,65,65,0.91) 0%, rgba(34,34,34,0.9) 4%, rgba(31,31,31,0.9) 16%, rgba(7,7,7,0.89) 72%, rgba(2,2,2,0.88) 100%);
}
.controls-skin_1 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_1 .controls__play {
  width: 20px;
  height: 16px;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_1/play.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_1 .controls__play:hover,
.controls-skin_1 .controls__play:active {
  background-position: 0 0;
}
.controls-skin_1 .controls__play_paused {
  background-position: 0 -16px;
}
.controls-skin_1 .controls__play_paused:hover,
.controls-skin_1 .controls__play_paused:active {
  background-position: 0 -16px;
}
.controls-skin_1 .controls__mute {
  display: inline-block;
  width: 22px;
  height: 16px;
  background: url("../img/skin_1/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
}
.controls-skin_1 .controls__mute:hover,
.controls-skin_1 .controls__mute:active {
  background-position: 1px 0;
}
.controls-skin_1 .controls__mute_on {
  background-position: 0 -16px;
}
.controls-skin_1 .controls__mute_on:hover,
.controls-skin_1 .controls__mute_on:active {
  background-position: 0 -16px;
}
.controls-skin_1 .controls__volume {
  position: relative;
  width: 80px;
  height: 14px;
  margin-top: 3px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  background: none;
  -webkit-appearance: none;
}
.controls-skin_1 .controls__volume::-webkit-slider-container {
  width: 80px;
  height: 6px;
  border-radius: 3px;
  border: 0;
  background: url("../img/skin_1/volume-track.png") repeat-x 0 0;
}
.controls-skin_1 .controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 6px;
  position: relative;
  top: 1px;
  border-radius: 3px;
  background: #e74c3c;
  -webkit-user-modify: read-write !important;
}
.controls-skin_1 .controls__volume::-webkit-slider-thumb {
  position: relative;
  top: -4px;
  width: 5px;
  height: 14px;
  border-radius: 0;
  background: url("../img/skin_1/volume-handler.png") no-repeat 0 0;
  -webkit-appearance: none;
}
.controls-skin_1 .controls__progress {
  display: block;
  width: 100%;
  height: 8px;
  margin-bottom: 7px;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}
.controls-skin_1 .controls__progress::-webkit-progress-inner-element {
  background: #252525;
}
.controls-skin_1 .controls__progress::-webkit-progress-bar {
  background: url("../img/skin_1/progress.png") repeat-x 0 0;
}
.controls-skin_1 .controls__progress::-webkit-progress-value {
  background: url("../img/skin_1/progress-value.png") repeat-x 0 0;
}
.controls-skin_1 .controls__time {
  color: #8c8c8c;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
}
.controls-skin_1 .controls__fullscreen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 34px;
  height: 28px;
  background: url("../img/skin_1/fullscreen.png") no-repeat 0 0;
  cursor: pointer;
}
/* Controls Skin 2 */
.controls-skin_2 {
  position: relative;
  padding: 0;
  width: 648px;
  height: 40px;
  overflow: hidden;
  background: #f7f7f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.controls-skin_2 .controls__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.controls-skin_2 .controls__play {
  position: relative;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_2/play.png") no-repeat 0 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.controls-skin_2 .controls__play:hover,
.controls-skin_2 .controls__play:active {
  background-position: 0 -40px;
}
.controls-skin_2 .controls__play_paused {
  background-position: -45px 0;
}
.controls-skin_2 .controls__play_paused:hover,
.controls-skin_2 .controls__play_paused:active {
  background-position: -45px -40px;
}
.controls-skin_2 .controls__play:after {
  background: #dcdcdc;
  height: 40px;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}
.controls-skin_2 .controls__mute {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/skin_2/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
}
.controls-skin_2 .controls__mute:hover,
.controls-skin_2 .controls__mute:active {
  background-position: 0 0;
}
.controls-skin_2 .controls__mute_on {
  background-position: 0 -40px;
}
.controls-skin_2 .controls__mute_on:hover,
.controls-skin_2 .controls__mute_on:active {
  background-position: 0 -40px;
}
.controls-skin_2 .controls__volume {
  position: relative;
  width: 55px;
  height: 5px;
  outline: none;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin: 16px 0 0;
}
.controls-skin_2 .controls__volume::-webkit-slider-container {
  width: 80px;
  height: 5px;
  border: 1px solid #373737;
  border-radius: 4px;
  background: #4f4f4f;
}
.controls-skin_2 .controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 5px;
  border-radius: 3px;
  background: #4f4f4f;
  -webkit-user-modify: read-write !important;
}
.controls-skin_2 .controls__volume::-webkit-slider-thumb {
  position: relative;
  top: -3px;
  width: 3px;
  height: 11px;
  border-radius: 0;
  background: #333;
  -webkit-appearance: none;
}
.controls-skin_2 .controls__progress {
  display: inline-block;
  width: 280px;
  height: 5px;
  border: 0;
  vertical-align: top;
  cursor: pointer;
  border-radius: 2px;
  margin: 16px 15px 0;
  overflow: hidden;
}
.controls-skin_2 .controls__progress::-webkit-progress-inner-element {
  background: #4f4f4f;
}
.controls-skin_2 .controls__progress::-webkit-progress-bar {
  background: #4f4f4f;
}
.controls-skin_2 .controls__progress::-webkit-progress-value {
  background: #898989;
}
.controls-skin_2 .controls__time {
  color: #333;
  font: normal 12px "Droid Sans", sans-serif;
  line-height: 40px;
  margin: 0 3px 0 15px;
}
.controls-skin_2 .controls__time-overall {
  margin: 0 15px 0 0;
}
.controls-skin_2 .controls__fullscreen {
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  background: url("../img/skin_2/fullscreen.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_2 .controls__fullscreen:hover,
.controls-skin_2 .controls__fullscreen:active {
  background-position: 0 0;
}
.controls-skin_2 .controls__fullscreen:before {
  background: #dcdcdc;
  height: 40px;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* Controls Skin 3 */
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300");
.controls-skin_3 {
  height: 62px;
  padding: 0;
}
.controls-skin_3 .controls {
  background: url("../img/skin_3/controls.png") repeat-x 0 0;
  background: -moz-linear-gradient(top, #181818 0%, #111 42%, #111 100%);
  background: -webkit-linear-gradient(top, #181818 0%, #111 42%, #111 100%);
  background: linear-gradient(to bottom, #181818 0%, #111 42%, #111 100%);
}
.controls-skin_3 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_3 .controls__play {
  width: 64px;
  height: 58px;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_3/play.png") no-repeat 0 0;
  cursor: pointer;
  position: relative;
}
.controls-skin_3 .controls__play:hover,
.controls-skin_3 .controls__play:active {
  background-position: 0 -58px;
}
.controls-skin_3 .controls__play_paused {
  background-position: -64px 0;
}
.controls-skin_3 .controls__play_paused:hover,
.controls-skin_3 .controls__play_paused:active {
  background-position: -64px -58px;
}
.controls-skin_3 .controls__play:after {
  position: absolute;
  display: block;
  height: 46px;
  width: 1px;
  background: rgba(255,255,255,0.1);
  content: "";
  left: 100%;
  top: 6px;
}
.controls-skin_3 .controls__mute {
  display: inline-block;
  width: 35px;
  height: 58px;
  background: url("../img/skin_3/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
}
.controls-skin_3 .controls__mute:hover,
.controls-skin_3 .controls__mute:active {
  background-position: 0 0;
}
.controls-skin_3 .controls__mute_on {
  background-position: 0 -58px;
}
.controls-skin_3 .controls__mute_on:hover,
.controls-skin_3 .controls__mute_on:active {
  background-position: 0 -58px;
}
.controls-skin_3 .controls__volume {
  position: relative;
  width: 80px;
  height: 4px;
  margin-top: 27px;
  outline: none;
  border-radius: 4px;
  background: #080808;
  cursor: pointer;
  -webkit-appearance: none;
}
.controls-skin_3 .controls__volume::-webkit-slider-container {
  width: 80px;
  height: 4px;
  border: 0;
  border-radius: 0;
  background: #080808;
}
.controls-skin_3 .controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 4px;
  border-radius: 0;
  background: #dd1e25;
  -webkit-user-modify: read-write !important;
}
.controls-skin_3 .controls__volume::-webkit-slider-thumb {
  position: relative;
  top: -4px;
  width: 4px;
  height: 12px;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
}
.controls-skin_3 .controls__progress {
  display: block;
  width: 100%;
  height: 4px;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}
.controls-skin_3 .controls__progress::-webkit-progress-inner-element {
  background: #fff;
}
.controls-skin_3 .controls__progress::-webkit-progress-bar {
  background: rgba(0,0,0,0.5);
}
.controls-skin_3 .controls__progress::-webkit-progress-value {
  background: #db5207;
}
.controls-skin_3 .controls__time {
  color: #fff;
  font: 300 12px 'Roboto Condensed', sans-serif;
  line-height: 58px;
}
.controls-skin_3 .controls__time-overall {
  color: #4f4f4f;
}
.controls-skin_3 .controls__fullscreen {
  float: right;
  width: 65px;
  height: 58px;
  background: url("../img/skin_3/fullscreen.png") no-repeat 0 0;
  cursor: pointer;
  position: relative;
}
.controls-skin_3 .controls__fullscreen:before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: 44px;
  top: 7px;
  left: 0;
  background: rgba(255,255,255,0.1);
}
.controls-skin_3 .controls__fullscreen:hover,
.controls-skin_3 .controls__fullscreen:active {
  background-position: 0 -58px;
}
/* Controls Skin 4 */
.controls-skin_4 {
  position: relative;
  padding: 0;
  width: 370px;
  height: 50px;
  background: #342a2d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.controls-skin_4 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_4 .controls__play {
  width: 50px;
  height: 50px;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_4/play.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_4 .controls__play:hover,
.controls-skin_4 .controls__play:active {
  background-position: 0 0;
}
.controls-skin_4 .controls__play_paused {
  background-position: 0 -50px;
}
.controls-skin_4 .controls__play_paused:hover,
.controls-skin_4 .controls__play_paused:active {
  background-position: 0 -50px;
}
.controls-skin_4 .controls__mute {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../img/skin_4/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
  margin: 0;
}
.controls-skin_4 .controls__mute:hover,
.controls-skin_4 .controls__mute:active {
  background-position: 0 0;
}
.controls-skin_4 .controls__mute_on {
  background-position: 0 -50px;
}
.controls-skin_4 .controls__mute_on:hover,
.controls-skin_4 .controls__mute_on:active {
  background-position: 0 -50px;
}
.controls-skin_4 .controls__progress {
  display: inline-block;
  width: 194px;
  height: 5px;
  border: 0;
  vertical-align: top;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  margin: 22px 20px 0 0;
}
.controls-skin_4 .controls__progress::-webkit-progress-inner-element {
  background: #000;
}
.controls-skin_4 .controls__progress::-webkit-progress-bar {
  background: #000;
}
.controls-skin_4 .controls__progress::-webkit-progress-value {
  background: #fff;
}
.controls-skin_4 .controls__time {
  color: #fff;
  font: normal 11px "Arial";
  line-height: 50px;
}
/* Controls Skin 5 */
.controls-skin_5 {
  padding: 0;
  width: 460px;
  height: 35px;
  background: -moz-linear-gradient(top, #fff 0%, #fafafb 12%, #eceef0 32%, #ced2d6 68%, #babfc6 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #fafafb 12%, #eceef0 32%, #ced2d6 68%, #babfc6 100%);
  background: linear-gradient(to bottom, #fff 0%, #fafafb 12%, #eceef0 32%, #ced2d6 68%, #babfc6 100%);
}
.controls-skin_5 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_5 .controls__play {
  width: 45px;
  height: 26px;
  margin: 5px 10px 0 5px;
  border-radius: 2px;
  text-indent: -9999px;
  background: url("../img/skin_5/play.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_5 .controls__play:hover {
  background-position: 0 -26px;
}
.controls-skin_5 .controls__play:active {
  background-position: 0 -52px;
}
.controls-skin_5 .controls__play_paused {
  background-position: -45px 0;
}
.controls-skin_5 .controls__play_paused:hover {
  background-position: -45px -26px;
}
.controls-skin_5 .controls__play_paused:active {
  background-position: -45px -52px;
}
.controls-skin_5 .controls__mute {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../img/skin_5/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
  margin: 3px 7px 0 0;
  float: right;
}
.controls-skin_5 .controls__mute:hover,
.controls-skin_5 .controls__mute:active {
  background-position: 0 -26px;
}
.controls-skin_5 .controls__mute_on {
  background-position: -26px 0;
}
.controls-skin_5 .controls__mute_on:hover,
.controls-skin_5 .controls__mute_on:active {
  background-position: -26px -26px;
}
.controls-skin_5 .controls__volume {
  position: relative;
  width: 80px;
  height: 5px;
  outline: none;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  float: right;
  margin: 14px 7px 0 0;
}
.controls-skin_5 .controls__volume::-webkit-slider-container {
  width: 80px;
  height: 5px;
  border: 0;
  border-radius: 0;
  background: transparent;
}
.controls-skin_5 .controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 5px;
  border-radius: 0;
  background: url("../img/skin_5/progress.png") repeat-x 0 0;
  -webkit-user-modify: read-write !important;
}
.controls-skin_5 .controls__volume::-webkit-slider-thumb {
  position: relative;
  top: -3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: url("../img/skin_5/volume-handler.png") no-repeat -1px 0;
  -webkit-appearance: none;
}
.controls-skin_5 .controls__progress {
  display: inline-block;
  width: 138px;
  height: 5px;
  margin: 14px 10px 0 0;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}
.controls-skin_5 .controls__progress::-webkit-progress-inner-element {
  background: transparent;
}
.controls-skin_5 .controls__progress::-webkit-progress-bar {
  background: url("../img/skin_5/progress-bg.png") repeat-x 0 0;
}
.controls-skin_5 .controls__progress::-webkit-progress-value {
  background: url("../img/skin_5/progress.png") repeat-x 0 0;
}
.controls-skin_5 .controls__time {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
}
/* Controls Skin 6 */
.controls-skin_6 {
  padding: 0;
  width: 500px;
  height: 50px;
  background: url("../img/skin_6/bg.png") repeat-x 0 0;
  background: -moz-linear-gradient(top, rgba(99,103,110,0.9) 0%, rgba(65,69,78,0.88) 2%, rgba(54,61,69,0.88) 26%, rgba(49,52,58,0.88) 49%, rgba(33,36,45,0.88) 51%, rgba(30,36,42,0.88) 53%, rgba(21,24,29,0.87) 87%, rgba(16,22,28,0.87) 94%, rgba(17,20,25,0.87) 100%);
  background: -webkit-linear-gradient(top, rgba(99,103,110,0.9) 0%, rgba(65,69,78,0.88) 2%, rgba(54,61,69,0.88) 26%, rgba(49,52,58,0.88) 49%, rgba(33,36,45,0.88) 51%, rgba(30,36,42,0.88) 53%, rgba(21,24,29,0.87) 87%, rgba(16,22,28,0.87) 94%, rgba(17,20,25,0.87) 100%);
  background: linear-gradient(to bottom, rgba(99,103,110,0.9) 0%, rgba(65,69,78,0.88) 2%, rgba(54,61,69,0.88) 26%, rgba(49,52,58,0.88) 49%, rgba(33,36,45,0.88) 51%, rgba(30,36,42,0.88) 53%, rgba(21,24,29,0.87) 87%, rgba(16,22,28,0.87) 94%, rgba(17,20,25,0.87) 100%);
  border: 1px solid #000;
}
.controls-skin_6 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_6 .controls__play {
  width: 48px;
  height: 48px;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_6/play.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_6 .controls__play:hover,
.controls-skin_6 .controls__play:active {
  background-position: 0 0;
}
.controls-skin_6 .controls__play_paused {
  background-position: 0 -48px;
}
.controls-skin_6 .controls__play_paused:hover,
.controls-skin_6 .controls__play_paused:active {
  background-position: 0 -48px;
}
.controls-skin_6 .controls__mute {
  display: inline-block;
  margin: 16px 10px 0 0;
  width: 20px;
  height: 14px;
  background: url("../img/skin_6/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
}
.controls-skin_6 .controls__mute:hover,
.controls-skin_6 .controls__mute:active {
  background-position: 0 0;
}
.controls-skin_6 .controls__mute_on {
  background-position: 0 -14px;
}
.controls-skin_6 .controls__mute_on:hover,
.controls-skin_6 .controls__mute_on:active {
  background-position: 0 -14px;
}
.controls-skin_6 .controls__progress {
  display: inline-block;
  margin: 18px 10px 0 0;
  width: 270px;
  height: 11px;
  border: 1px solid #000;
  vertical-align: top;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}
.controls-skin_6 .controls__progress::-webkit-progress-inner-element {
  background: url("../img/skin_6/progress-inner.png") repeat-x 0 0;
}
.controls-skin_6 .controls__progress::-webkit-progress-bar {
  background: url("../img/skin_6/progress-seek.png") repeat-x 0 0;
}
.controls-skin_6 .controls__progress::-webkit-progress-value {
  background: url("../img/skin_6/progress-value.png") repeat-x 0 0;
}
.controls-skin_6 .controls__time {
  color: #fff;
  font: normal 12px Arial;
  line-height: 48px;
}
.controls-skin_6 .controls__fullscreen {
  float: right;
  width: 40px;
  height: 48px;
  background: url("../img/skin_6/fullscreen.png") no-repeat center;
  cursor: pointer;
}
.controls-skin_6 .controls__fullscreen:hover,
.controls-skin_6 .controls__fullscreen:active {
  background-position: center;
}
/* Controls Skin 7 */
.controls-skin_7 {
  padding: 0;
  width: 460px;
  height: 45px;
  border: 1px solid #f7f7f7;
  background: url("../img/skin_7/bg.png") repeat-x 0 0;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #d4d4d4 59%, #d1d1d1 72%, #d1d1d1 100%);
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #d4d4d4 59%, #d1d1d1 72%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #d4d4d4 59%, #d1d1d1 72%, #d1d1d1 100%);
}
.controls-skin_7 .controls__elements {
  padding: 0;
  height: 35px;
}
.controls-skin_7 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_7 .controls__play {
  position: relative;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_7/play.png") no-repeat 0 0;
  width: 38px;
  height: 33px;
  cursor: pointer;
}
.controls-skin_7 .controls__play:after {
  display: block;
  position: absolute;
  top: 6px;
  left: 100%;
  background: url("../img/skin_7/divider.png") no-repeat 0 0;
  width: 2px;
  height: 21px;
  content: "";
}
.controls-skin_7 .controls__play:hover,
.controls-skin_7 .controls__play:active {
  background-position: 0 0;
}
.controls-skin_7 .controls__play_paused {
  background-position: 0 -33px;
}
.controls-skin_7 .controls__play_paused:hover,
.controls-skin_7 .controls__play_paused:active {
  background-position: 0 -33px;
}
.controls-skin_7 .controls__mute {
  display: inline-block;
  width: 35px;
  height: 33px;
  background: url("../img/skin_7/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
}
.controls-skin_7 .controls__mute:hover,
.controls-skin_7 .controls__mute:active {
  background-position: 0 0;
}
.controls-skin_7 .controls__mute_on {
  background-position: 0 -33px;
}
.controls-skin_7 .controls__mute_on:hover,
.controls-skin_7 .controls__mute_on:active {
  background-position: 0 -33px;
}
.controls-skin_7 .controls__volume {
  position: relative;
  width: 80px;
  height: 10px;
  margin-top: 12px;
  outline: none;
  border-radius: 3px;
  background: url("../img/skin_7/volume.png") repeat-x 0 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.controls-skin_7 .controls__volume::-webkit-slider-container {
  width: 80px;
  height: 10px;
  padding: 2px 0 0;
  border: none;
  border-radius: 3px;
  background: url("../img/skin_7/volume.png") repeat-x 0 0;
}
.controls-skin_7 .controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 12px;
  border-radius: 3px;
  background: transparent;
  -webkit-user-modify: read-write !important;
}
.controls-skin_7 .controls__volume::-webkit-slider-thumb {
  position: relative;
  top: 0;
  width: 11px;
  height: 10px;
  border-radius: 0;
  background: url("../img/skin_7/volume-handler.png") no-repeat -1px 0;
  -webkit-appearance: none;
}
.controls-skin_7 .controls__progress {
  display: block;
  width: 100%;
  height: 10px;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}
.controls-skin_7 .controls__progress::-webkit-progress-inner-element {
  background: #252525;
}
.controls-skin_7 .controls__progress::-webkit-progress-bar {
  background: #6d6a6a;
}
.controls-skin_7 .controls__progress::-webkit-progress-value {
  background: url("../img/skin_7/progress.png");
}
.controls-skin_7 .controls__time {
  color: #333;
  font-weight: bold;
  font-size: 12px;
  line-height: 33px;
}
.controls-skin_7 .controls__fullscreen {
  float: right;
  width: 38px;
  height: 33px;
  background: url("../img/skin_7/fullscreen.png") no-repeat 0 0;
  cursor: pointer;
  position: relative;
}
.controls-skin_7 .controls__fullscreen:before {
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  background: url("../img/skin_7/divider.png") no-repeat 0 0;
  width: 2px;
  height: 21px;
  content: "";
}
.controls-skin_7 .controls__fullscreen:hover,
.controls-skin_7 .controls__fullscreen:active {
  background-position: 0 0;
}
/* Controls Skin 8 */
.controls-skin_8 {
  padding: 0;
  background: #1b1b1b;
}
.controls-skin_8 .controls__elements {
  padding: 0 5px;
  height: 28px;
}
.controls-skin_8 .controls__item {
  display: inline-block;
  vertical-align: top;
}
.controls-skin_8 .controls__play {
  width: 27px;
  height: 27px;
  border-radius: 0;
  text-indent: -9999px;
  background: url("../img/skin_8/play.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_8 .controls__play:hover,
.controls-skin_8 .controls__play:active {
  background-position: 0 0;
}
.controls-skin_8 .controls__play_paused {
  background-position: 0 -27px;
}
.controls-skin_8 .controls__play_paused:hover,
.controls-skin_8 .controls__play_paused:active {
  background-position: 0 -27px;
}
.controls-skin_8 .controls__mute {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url("../img/skin_8/mute.png") no-repeat 0 0;
  vertical-align: top;
  text-indent: -9999px;
  cursor: pointer;
}
.controls-skin_8 .controls__mute:hover,
.controls-skin_8 .controls__mute:active {
  background-position: 0 0;
}
.controls-skin_8 .controls__mute_on {
  background-position: 0 -27px;
}
.controls-skin_8 .controls__mute_on:hover,
.controls-skin_8 .controls__mute_on:active {
  background-position: 0 -27px;
}
.controls-skin_8 .controls__volume {
  position: relative;
  width: 80px;
  height: 4px;
  margin-top: 11px;
  outline: none;
  border-radius: 0;
  background: #444;
  cursor: pointer;
  -webkit-appearance: none;
}
.controls-skin_8 .controls__volume::-webkit-slider-container {
  width: 80px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #444;
}
.controls-skin_8 .controls__volume::-webkit-slider-runnable-track {
  width: 50%;
  height: 4px;
  border-radius: 0;
  background: #bdc3c7;
  -webkit-user-modify: read-write !important;
}
.controls-skin_8 .controls__volume::-webkit-slider-thumb {
  position: relative;
  top: -4px;
  width: 4px;
  height: 12px;
  border-radius: 0;
  background: #cc181e;
  -webkit-appearance: none;
}
.controls-skin_8 .controls__progress {
  display: block;
  width: 100%;
  height: 7px;
  border: 0;
  vertical-align: top;
  cursor: pointer;
}
.controls-skin_8 .controls__progress::-webkit-progress-inner-element {
  background: #444;
}
.controls-skin_8 .controls__progress::-webkit-progress-bar {
  background: #777;
}
.controls-skin_8 .controls__progress::-webkit-progress-value {
  background: #cc181e;
}
.controls-skin_8 .controls__time {
  color: #eaeaea;
  font-weight: normal;
  font-size: 11px;
  line-height: 27px;
}
.controls-skin_8 .controls__time-overall {
  color: #757575;
}
.controls-skin_8 .controls__fullscreen {
  float: right;
  width: 27px;
  height: 27px;
  background: url("../img/skin_8/fullscreen.png") no-repeat 0 0;
  cursor: pointer;
}
.controls-skin_8 .controls__fullscreen:hover,
.controls-skin_8 .controls__fullscreen:active {
  background-position: 0 0;
}
